<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lihatinventory.Properties.Settings.sinarekConnectionString"
            connectionString="server=196.10.0.75;User Id=reader;database=sinarek;password=r3ader;Persist Security Info=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="lihatinventory.Properties.Settings.sinarConnectionString"
            connectionString="server=196.10.0.75;User Id=reader;database=sinarek;password=r3ader;Persist Security Info=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>       
        
       
    </startup>
</configuration>
