<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
        </configSections>
        <connectionStrings>
                <add name="NBViewer.Properties.Settings.sinarekConnectionString"
                        connectionString="server=localhost;user id=reader;password=r3ader;persistsecurityinfo=True;database=sinarek"
                        providerName="MySql.Data.MySqlClient" />
        </connectionStrings>
        <startup>
            
        </startup>
</configuration>